<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <form>
        <div class="form-group">
          <%= f.label :number %><br>
          <%= f.text_field :number, type:"number", class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :cvv %><br>
          <%= f.text_field :cvv , type:"number",class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label "Moth" %><br>
          <%= select_tag "month", options_for_select(["1", "2", "3", "4", "5","6","7","8","9","10","11","12"]), :class => '' %><br>
          <%= f.label "Year" %><br>
          <%= select_year Date.today, :start_year => Time.now.year, :end_year => Time.now.year + 15, :field_name => :year%>
        </div>
        <%= f.submit "Save", class: "btn btn-primary btn-lg "%>
      </form>
    </div>
  </div>
<% end %>
